<!DOCTYPE html>
<html>
    <head>
        <title>Django Boys blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Boys Blog</a></h1>
        </header>

        {% for post in posts %}
            <article>
                <time>published: {{ post.published_date }}</time>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
        {% endfor %} 

        <article>
            <time>published: 30.07.2021, 18:00</time>
            <h2><a href="">My first post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vel facilisis volutpat est velit egestas.</p>
        </article>

        <article>
            <time>published: 30.07.2021, 19:00</time>
            <h2><a href="">My Second post</a></h2>
            <p>A iaculis at erat pellentesque. Dolor purus non enim praesent elementum facilisis leo vel. Viverra justo nec ultrices dui sapien eget mi. Bibendum est ultricies integer quis auctor.</p>
        </article>
        <p>Hi There!</p>
        <p>It Works!</p>
    </body>
</html>